<div class="w-50 m-auto">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Nhap tu khoa"
      />
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">--Chọn giới tính--</label>
      <select name="gender" class="form-select form-select-lg" id="gender">
        <option selected value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>